/* .navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
} */

.nav-link {
    font-size: var(--navbarFontSize);
    color: var(--mainFontColor);
    font-weight: bold;
}

.nav_Logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.user_Logo {
    background-color: #fff;
}

.icone {
    font-size: 20px;
    padding-right: 10px;
    color: var(--paragraphFontColor);
    font-size: var(--FotterTextSize);
}

.dropdown-item {
    font-size: var(--paragraphFontSize);
}

.dropdown_item_user {
    color: #fff;
}

.navbar_user {
    background-color: var(--paragraphFontColor);
}

.icone_User {
    color: #fff;
}