/* Admin Navbar */
.search_btn {
    width: 50%;
    border: 1px solid gray;
    border-radius: 5rem;
    padding: .3rem;
}

.Admin_Sidebar {
    height: 100vh;
}

.admin_logo {
    margin-top: 10px !important;
}

.nav_Admin_Logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.search {
    background-color: transparent;
    border: none;
}

/* ------------------------------------------------------ */
/* Users information */
.users_Blok {
    border: .5px solid #707070;
    border-radius: 1rem;
}

/* Admin Sidebare */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sidebarMenu h5,
.icon {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.sidebarMenu h5 {
    padding-top: 12px;
}

/* Status */
.status_box {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 1rem;
}

/* User and Record Progres Bar */
.porgres {
    height: 250px;
    width: 250px;
}

.image_file {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

