/* First Main Section */
.btn_record {
  --bs-btn-hover-bg: #fff;
}

/* Main Button  */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .60rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  margin: 0% 10% 25% 10%;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 40%;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: var(--mainFontColor);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* --------------------------------------------------------- */
/* Main Title */
.main__text {
  font-size: var(--mainFontSize);
  color: var(--mainFontColor);
  font-weight: bold;
}

.main__paragraph {
  font-size: 22px;
  font-weight: normal;
}


/* --------------------------------------------------------- */
/* Cards Section  */
.row_featuer {
  display: flex;
  justify-content: space-around;
  margin: 80px 0px;
}

.card_item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_item .card {
  border: none;
}

/* --------------------------------------------------------- */
/* Our Bord Section */
.bord_Title {
  font-size: var(--mainFontSize);
  color: var(--mainFontColor);
  font-weight: bold;
}

.board_name {
  font-size: var(--paragraphFontSize);
  color: var(--mainFontColor);
  font-weight: 600;
}

.board_disc {
  font-size: var(--paragraphFontSize);
  color: var(--paragraphFontColor);
}

/* --------------------------------------------------------- */
/* Footer */
.footer {
  background-color: var(--FooterColor);
}

.text_font {
  font-size: var(--FotterTextSize);
  font-weight: bold;
}

/* ----------------------------------------------------- */
/* Redister form */
.container_Auth {
  background-image: url(./components/imags/auth-Image.jpg);
  background-position: center;
  background-size: cover;
}

.container_Auth h3 {
  font-style: italic;
}

.row_Auth_Register {
  align-items: center;
  justify-content: center;
}

.col_Auth {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Auth_btn {
  width: 100%;
}

/* ----------------------------------------------------- */
/* Log in form */

.link_Auth {
  text-decoration: none;
  color: gray;
}

.row_Auth {
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hidden_btn {
  background-color: transparent;
  border: none;
}

.hidden_btn:hover {
  background-color: transparent;
  color: gray;
}

/* ------------------------------------------------------ */
/* Recored Page  */
.icone_record {
  font-size: 300px;
}

.user_icone_record {
  font-size: 45px;
}

.record_input {
  display: none;
}

.custom-file-uploaded {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px;
  cursor: pointer;
}

.button-66 {
  background-color: #0a6bff;
  border-radius: 10px;
  border: 0;
  box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inherit; */
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-66 {
    /* padding: 10px; */
    min-width: 150px;
  }
}

/* Rcord Section */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 213, 219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249, 250, 251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.record_input {
  color: var(--mainFontColor);
}



.loading {
  background: #fff;
  position: fixed;
  top: 96px;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* -------------------------------------------------------- */

/* @media screen and (max-width:768px) {
  .loading {
    height: 50vh;
  }
} */
@media screen and (max-width:600px) {
  .loading {
    top: 123px;
    height: 100vh;
  }
}































@media screen and (max-width: 768px) {

  /* Redister form */
  .row_Auth_Register {
    height: 100vh;
  }

}